<h1>Editing Add Impressions Count To Product</h1>

<%= render 'form', add_impressions_count_to_product: @add_impressions_count_to_product %>

<%= link_to 'Show', @add_impressions_count_to_product %> |
<%= link_to 'Back', add_impressions_count_to_products_path %>
