<<<<<<< HEAD
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="table-enduer-index">
=======
    <div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div style="border: 2px solid #8C8C00;">
>>>>>>> 50c94f2b19a989ee9a4c8f1565c16804d862e948
				<table>
					<thead>
						<tr>
							<td>ID</td>
							<td>性</td>
							<td>名</td>
							<td>編集</td>
							<td>削除</td>
						</tr>
					</thead>
					<div class="row">
					<tbody>
						<tr>
							<td>enduser.id</td>
							<td>enduser.</td>
							<td>enduser.</td>
<<<<<<< HEAD
							<td><%= link_to '編集', admins_endusers_path %></td>	
							<td><%= link_to '削除', admins_endusers_path,methd: :delete, date:{confirm: '削除しますか？'} %></td>
=======
							<td><a href="/admins/endusers">編集</a></td>	
							<td><a methd="delete" date="{:confirm=&gt;&quot;削除しますか？&quot;}" href="/admins/endusers">削除</a></td>
>>>>>>> 50c94f2b19a989ee9a4c8f1565c16804d862e948
						</tr>
					</tbody>
					</div>

				</table>
			</div>
		</div>
	</div>
</div>