<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div style="border: 2px solid #8C8C00;">
				<table>
					<thead>
						<tr>
							<td>ID</td>
							<td>性</td>
							<td>名</td>
							<td>編集</td>
							<td>削除</td>
						</tr>
					</thead>
					<div class="row">
					<tbody>
						<tr>
							<td>enduser.id</td>
							<td>enduser.</td>
							<td>enduser.</td>
							<td><%= link_to '編集', admins_endusers_path %></td>	
							<td><%= link_to '削除', admins_endusers_path,methd: :delete, date:{confirm: '削除しますか？'} %></td>
						</tr>
					</tbody>
					</div>
				</table>
			</div>
		</div>
	</div>
</div>