<footer class="footer">
    <div class="panel panel-default">
	    <div class="panel-footer text-center">
		©ecCDing
	    </div>
		 <%= link_to "お問い合わせ",new_contact_path %>
	    </div>
    </div>
</footer>