<div class="container">
	<div class="row">
		<div class ="col-lg-8" >
			<div class="row">
					<tr>
						<td><%= link_to "商品管理" , admins_products_index_path ,class: "btn btn-info col-xs-6" %></td>
						<td><%= link_to "会員一覧" , admins_endusers_index_path ,class: "btn btn-info col-xs-6" %></td>
						<td><%= link_to "購入履歴一覧" , admins_orders_index_path ,class: "btn btn-info col-xs-6" %></td>
						<td><%= link_to "お問い合わせ" , admins_contacts_index_path ,class: "btn btn-info col-xs-6" %></td>
					</tr>
			</div>
		</div>
	</div>
</div>

