/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.btn-info {
    color: #000;
    background-color: rgb(218, 232, 252);
    border-color: #46b8da;
    font-size: 30px;
}
.btn-homes {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 60px 5px;
    font-size: 30px;
    line-height: 1.428571429;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 30px;
}

.user-info-form {
    margin-top: 60px;
}
.form-user.style-1 {
  color: black;
  border: 1px solid black;
  padding: 50px;
}
.form-user.style-2{
    color: black;
  border: 1px solid black;
  padding: 30px 3px 50px 3px;
}
.container {
    padding-left: 20px
}

.glyphicon-log-out{
    font-size: 25px;
}
.glyphicon-user{
    font-size: 25px;
}
.glyphicon-shopping-cart{
    font-size: 25px;
}
.glyphicon-home{
    font-size: 25px;
}

.glyphicon-edit{
    font-size: 25px;
}

.glyphicon-log-in{
    font-size: 25px;
}

.navbar-brand {
    text-align: center;
    font-size: 40px;
    padding-left: 50px;
}

.navbar-default{
    padding: 0px 0px 0px 0px;
}

.navbar-form{
    margin: 12.5px 0px 12.5px 0px;
    display: flex;
}

 .log-in-form{
    padding: 10px;
    width:  400px;
    border: 1px solid #333333;
    margin: auto;
    text-align: center;
}

.log-in-slice {
    margin: 130px 0 130px 0;
}


.log-in-field{
    margin: 30px 0 30px 0;
}
.btn-log-in{
    width: 40%;
}
.btn-edit{
    font-size: 20px;
    margin: 20px 15px 0 15px;
}

.footer{
    width: 100%;
  height: 0px;
  text-align: center;

}

.panel-footer{
    font-size: 20px;
    color: #777777;
    margin: 30px 0px -21px 0px;
    padding: 30px 15px;
    border: 1px solid #ddd;
}
.panel-default{
    border-color: #ffffff;
    margin-bottom: 0;
}

.footer{
    text-align: right;
}

.form{
    margin: 100px 300px 100px 300px ;

}
.dt{
    display: inline-block;
}



.tab {
border-bottom: 3px solid black;

}
.tab li {
  color: #333;
  float: left;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  list-style: none;
  transition: .1s;
}

.tab li.active{
 background:black;
 color: white;
 cursor: auto;
}

.area ul {
  display: none;
}

.area ul.show{
  display: block;
  border: solid 3px black;
  border-top: none;
  padding: 3px;
}

.site_header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 24;
}
.block{
    padding-top: 100px;
}

.panel-default {
  padding-left: -15px;
  padding-right: -15px;
}

#panel-default .panel-heading{
  margin: 0px -15px;
}
