// Place all the styles related to the product_carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-cart{
	border: 2px solid #8C8C00;
}
.product-cart-index {
	width: 20%;
}