<%= render "endusers/header" %>
<div class="container">
	<h2>ショッピングカート</h2>
	<div class="row">
		<div class="col-lg-8 ">
			<div class="product-cart">
				<table>
					<tbody>
						<tr>
							<td class="product-cart-index">ジャケット</td>
							<td class="product-cart-index">　　　</td>
							<td class="product-cart-index">
								<p>teitle:</p>
								<p>ジャンル：</p>
								<p>レーベル：</p>
								<p>在庫あり</p>
							</td>
							<td class="product-cart-index"></td>
							<td class="product-cart-index">￥540</td>
							<td class="product-cart-index"></td>
							<td class="product-cart-index"　colspan="2">
								<p><input type="number" name="quantity1"></p>
								<p>削除</p>
							</td>
							<td class="product-cart-index">　</td>
						</tr>
					</tbody>
				</table>
			</div>	
			<div class="row" style="padding-left: 15px;">
				<div>
					<table>
						<tr>
							<td class="btn btn-danger col-lg-1">商品一覧</td>
							<td class="product-cart-index">小計</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-lg-offset-1">
		  <div class="product-cart">
		  	<div class="row">	
			<div class="col-lg-4 col-lg-offset-4">
				<table>
					<tbody>
						<tr>
							<td class="product-cart-index">
								<p><span>小計</span>○○円</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<p class="btn btn-success col-xs-12">購入画面へ進む</p>
				</div>
			</div>
		  </div>		  
		</div>
		
	</div>
</div>