<div class="container">
	<h2>ショッピングカート</h2>
	<div class="row">
		<div class="col-lg-8 ">
			<div class="rable">

			<table>
				<tbody>
					<tr>
						<td>ジャケット</td>
						<td></td>
						<td>
							<p>teitle:</p>
							<p>ジャンル：</p>
							<p>レーベル：</p>
							<p>在庫あり</p>
						</td>
						<td></td>
						<td>￥540</td>
						<td></td>
						<td>2</td>
					</tr>
				</tbody>
			</table>	
			</div>
		</div>

		<div class="col-lg-3 col-lg-offset-1">
			<table>
				<tbody>
					<tr>
						<td>小計</td>
						<td>○○円</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<p>購入画面へ進む</p>
			</div>		
		</div>
		
	</div>
</div>