<%= render "endusers/admin" %>
<div class="container">
	<div class="row">
		<div class="col-log-10 col-lg-offset-1">
			<h4>購入履歴一覧</h4>
			<table>
				<thead>
					<tr>
						<th>注文日</th>
						<th>購入者</th>
						<th>注文内容</th>
						<th>合計金額</th>
						<th>支払い方法</th>
						<th>処理状態</th>
						<th>　</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>注文日</td>
						<td>購入者</td>
						<td>注文内容</td>
						<td>合計金額</td>
						<td>支払い方法</td>
						<td>処理状態</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>