<%= render "enduser/admin" %>
<div class="containar">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="order-format">
				<div class="row">
					<h3>注文内容</h3>
					<div class="order-detail">
						<table></table>
					</div>
				</div>
				<div class="row">
					<h3>お届け先</h3>
					<div class="order-address"></div>
				</div>
				<div class="row">
					<h3>支払い方法</h3>
					<div class="cash-select"></div>
				</div>
			</div>
						
		</div>
	</div>
</div>